.dabba{
    background-color: black;
    height: 50px;
    width: 100%;
}
.headertext{
    padding-left: 350px;
    color: #fff;
    padding-top: 10px;
}
.info{
    padding-left: 1200px;
    color: #fff;
    margin-top: -40px;
}
.number{
    padding-left: 95em;
    color: #fff;
    margin-top: -40px;
}
header .logoimage {
    margin-left: 20em;
}
.navbar{
    width: 85%;
    padding-left: 900px ;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
     color: red;
     text-decoration: none;
     color: black;
     text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: linear-gradient(90deg, green , black);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li :hover::after{
    width: 100%;
}